.dream-card {
  --card-font-size: clamp(0.8rem, 2vw, 2rem);
  font-family: 'Livvic', sans-serif;
  height: 90%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.date {
  font-size: calc(var(--card-font-size) / 1.4);
  margin-top: 5%;
}

.title {
  font-family: "Yellowtail", cursive;
  font-size: calc(var(--card-font-size) * 1.3);
}

.date,
.title {
  margin: 2% 0;
  text-align: center;
}

.description {
  max-width: 40ch;
  font-size: calc(var(--card-font-size) / 1.7);
  text-align: center;
}

.separator {
  width: 0;
  border-right: 1px solid white;
}

.list-container {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.emotions-container,
.tags-container {
  width: 45%;
}

.list-head {
  font-size: calc(var(--card-font-size) / 1.3);
  text-decoration: underline;
  text-align: center;
  margin: 2% 0;
}

.card-list {
  max-height: 24ch;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc(var(--card-font-size) / 2);
  text-align: center;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.no-grid {
  display: block;
}

.span-across {
  grid-column: span 2;
}

.lucidity {
  font-size: calc(var(--card-font-size) / 1.5);
  margin: 2% 0 8%;
}

.dream-buttons {
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.edit-dream-button,
.delete-dream-button {
  font-size: calc(var(--card-font-size) / 1.1);
  background: transparent;
  border: 0;
  color: inherit;
  text-shadow: inherit;
}

@media screen and (max-width: 36rem) {
  .swiper-slide {
    transform-style: 0 !important;
  }
}