.dream-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dream-input form {
  width: 700px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: 'Livvic', sans-serif;
}

.form-container {
  display: flex;
  position: relative;
  z-index: 1;
}

.dream-input input:focus,
.dream-input select:focus {
  outline: none;
}

.dream-input h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  font-family: 'Yellowtail', cursive;
}

.dream-input textarea {
  display: block;
  width: 90%;
  padding: 8px;
  margin: 0 auto;
  border: 1px solid rgba(131, 202, 215, 0.16);
  border-radius: 4px;
  height: 120px;
  resize: none;
  overflow-y: scroll;

}

.dream-input label {
  display: block;
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.dream-input input[type="date"] {
  width: fit-content;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.dream-input input[type="text"] {
  width: fit-content;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  border-radius: 5px;
}

.multi-select {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  display: block;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.select-styling__control {
  min-height: 50px;
  max-height: 75px;
  overflow: auto;
}

.select-styling__menu {
  max-height: 300px;
}

.select-styling__multi-value {
  max-width: 300px;
}

.select-styling__multi-value__label {
  white-space: normal;
  word-wrap: break-word;
}


.dream-input input[type="range"] {
  width: 40%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.dream-input input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.dream-input input[type="text"]::placeholder {
  color: white;
}

.dream-input textarea::placeholder {
  color: white;
}

.dream-input input[type="text"],
.dream-input input[type="date"],
.dream-input textarea,
.dream-input select {
  font-family: "Livvic", sans-serif;
  background-color: #06142a54;
  color: white;
}

.dream-input button {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: "Livvic", sans-serif;
}

.glow-on-hover {
  height: 50px;
  outline: none;
  background: #111;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #dcdad7, #7b7a7a, #4f4fb0, #47dfd1);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.background-dream-astronaut {
  width: 9%;
  position: absolute;
  z-index: 0; 
  left: -100%; 
  top: 50%; 
  transform: translateY(-50%); 
  animation: float 80s linear infinite; 
  animation-name: float-home;
}

@keyframes float-home {
  0% {
    left: -100%;
    top: 0%;
  }
  25% {
    top: 30%;
  }
  50% {
    left: 100%;
    top: 50%;
  }
  75% {
    top: 70%;
  }
  100% {
    left: -100%;
    top: 100%;
  }
}

@media screen and (max-width: 1300px){
  .dream-input form {
    width: 90%;
    max-width: 700px;
    padding: 5%;
    margin: 0 auto;
    margin-top: 3vh;
  }

  .multi-select {
    margin-top: -5%;
   
  }

  .dream-input button {
    display: block;
    height: 5%;
    width: 20%;
    padding: 2vw;
    border-radius: 2vw;
    font-size: 2vw;

  }
  
  .glow-on-hover {
    height: 8vh;

  }
  
  .glow-on-hover:before {
  
    filter: blur(0.8vw);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 2vw;
  }
  
  .glow-on-hover:active {
    color: #000;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {

    border-radius: 2vw;
  }
  
  
  }