.login {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.app-name,
.app-desc {
  margin: 0;
  padding: 0;
  color: white;
}

.login-design {
  height: 100%;
  width: 50%;
  position: relative;
}

.stripes {
  height: 23.15vh;
  width: 47.67vw;
  background-image: url('../../assets/Color\ Stripes\ -\ \(250\ x\ 800px\).svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 43%;
}

.login-astronaut {
  height: 72.5vh;
  width: 48.3vw;
  background-image: url('../../assets/Astronaut\ -\ \(550\ x\ 550px\).svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -100%;
  right: -34%;
  rotate: -35deg;
  animation-name: float-login;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.login-header {
  font-family: 'Livvic', sans-serif;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.logo-imgs {
  height: 50%;
  width: 80%;
  position: relative;
}

.login-logo {
  height: 80%;
  position: absolute;
}

.dj-text {
  height: 20%;
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.user-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20%;
}

.login-button {
  width: 18%;
  font-family: 'Livvic', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: #E9DCB7;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

@keyframes float-login {
  0% {
    translate: 0% 0%;
  }

  15% {
    translate: -3% -2%;
  }

  30% {
    translate: 3% -2%;
  }

  65% {
    translate: -3% 6%;
  }

  80% {
    translate: 3% 6%;
  }

  100% {
    translate: 0% 0%;
  }
}

@media screen and (max-width: 1300px) {
  .login{
    flex-direction: column;
    width: 100%;
  }
  .login-logo{
    position: relative;
    width: 85%;
  }
  .logo-imgs {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .dj-text {
    height: 20%;
    position: relative;
  }
  .login-design {
    height: 30%;
    width: 100%;
  }
  .login-header{
    align-items: center;
    width: 100%;
  }
  .login-astronaut{
    top: -30%;
    right: -80%;
  }
  .stripes {
    width: 60%;
    background-image: url('../../assets/Color\ Stripes\ -\ \(250\ x\ 800px\).svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 43%;
  }
}