.nav-bar {
    height: 10%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.logo {
    height: 110%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    font-size: clamp(1.5rem, 2vw, 6rem);
    font-family: 'Yellowtail', 'cursive';
    color:#FFAF00;
    float: right;
    height: 100%;
    align-items: flex-end;
    margin-right: 3%;
}

.nav-links a {
    text-decoration: none;
    color: #47DFD1;
    font-size: clamp(1.5rem, 2vw, 6rem);
}

.nav-links a:hover{
    color:#FFAF00;
}

.nav-links:visited{
    color: inherit;
}
  
.nav-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3.0em;
    color: #FFAF00;
    margin: 0;
}


@media screen and (max-width: 500px) {
    .logo {
        height: 80%;
        position: absolute;
        bottom: 10%;
    }

    .nav-links a {
        font-size: 1rem;
    }
}


@media screen and (max-width: 540px) {
    .nav-links {
        gap: .5rem;
    }
    
}

@media screen and (max-width: 280px) {
    .nav-links {
        gap: .5rem;
    }
    
}